/* TopBar.module.css */
.topBar {
    display: flex;
    align-items: center;
 
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Rounded corners for a modern look */
  }
  
  .input {
    flex-grow: 1; /* Allow the input to take up as much space as possible */
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Space between input and select */
  }
  
  .select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Space between select and view options */
    cursor: pointer;
    background-color: #f8f8f8; /* Slightly different background for distinction */
  }
  
  .viewOptions {
    display: flex;
  }
  
  .viewOptions button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .viewOptions button:hover {
    background-color: #e6e6e6; /* Hover effect for better interactivity */
  }
  
  .viewOptions button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(50, 115, 220, 0.25); /* Custom focus indicator */
  }
  
  .viewOptions button:not(:last-child) {
    margin-right: 5px; /* Space between buttons */
  }
  