/* Follower.module.css */
.follower {
    padding: 20px;
 
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    margin-right: 10px;
 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab:hover {
    background-color: #007bff;
    color: white;
  }
  
  .active {
    background-color: #0056b3;
    color: white;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  